:root {
    --backgroundColor: yellow;
    --borderColor: black;
}

/* 
* The variables are defined for the root element (using the :root selector) meaning all children of the root element will have access to these variable values
? When we pass other values for these variables to the parent div of the `.child` divs, they override the values specified in the :root selector, making the new values available to the children.
*/

.child {
    height: 100px;
    width: 100px;
    border: var(--borderColor) 1px solid;
    background-color: var(--backgroundColor);
}