.common {
  font-size: 15rem;
  display: block;
}

.lighttheme {
  background-color: black;
  color: blanchedalmond;
}

.darktheme {
  background-color: blanchedalmond;
  color: black;
}

/* .app {
  text-align: center;
}

.applogo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes example {
  from {
    transform: translateY(2vw);
  }
  to {
    transform: translateY(-2vw);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .applogo {
    animation: example infinite 2.5s ease-in-out alternate;
  }
}

.appheader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.applink {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
